.n{
    color:#E84F64;
}
.a{
    color:#ED9B6B;
}
.m{
    color:#F6E18D;
}
.aa{
    color:#9BBA72;
}
.s{
    color:#74C9DF;
}
.t{
    color:#422C8E;
}
.e{
    color:#AA6FDD;
}

body{
    
    font-size:1.5rem;
}

